<ng-container *ngIf="dataService.data$ | async as data">
  <!-- main -->
  <section id="about" class="content-section pb-5">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h2>{{data.profile.name}}</h2>
        <h3>{{data.profile.subTitle}}</h3>
        <p class="mt-5">
          {{data.profile.subText}}
        </p>
      </div>
    </div>
  </section>
  <!-- main end -->

  <!-- about -->
  <section  class="content-section py-5">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <p>
          {{data.profile.mainText}}
        </p>
      </div>

      <div class="col-sm-12 col-md-4">
        <img [src]="data.profile.avatarUrl" alt="">
      </div>
    </div>
  </section>
  <!-- about end -->

  <!-- portfolio -->
  <section id="portfolio" class="content-section d-flex flex-column justify-content-center">
    <div class="row">
      <div class="col-sm-12 mb-5">
        <h1>{{data.profile.projectsMainPageTitle}}</h1>
        <h5 class="cursor-pointer"
          style="text-decoration: underline" routerLink="/projects">More projects</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 cursor-pointer mb-sm-2"
           *ngFor="let item of data.projects"
           routerLink="/projects/{{item.name}}"
      >
        <ng-container *ngIf="item.isMain">
          <h3 style="height: 80px">{{item.title}}</h3>
          <img class="w-100"
               [src]="item.imageUrl" alt="">
        </ng-container>

      </div>
    </div>

  </section>
  <!-- portfolio end -->

  <section id="resume" class="content-section">
    <div id='pdf-div' class='pdf-view'></div>
  </section>

  <!-- contact -->
  <section id="contact" class="content-section py-5 d-flex">
    <div class="row align-self-center d-flex w-100">
      <div class="col-sm-12 col-md-4 py-3 contacts">
        <p class="d-flex"><span class="material-icons me-3">{{data.contacts.address.icon}}</span> {{data.contacts.address.value}}</p>

        <a href="tel:{{data.contacts.phone.value}}" target="_blank">
          <p class="d-flex"><span class="material-icons me-3">{{data.contacts.phone.icon}}</span> {{data.contacts.phone.value}}</p>
        </a>

        <a href="mailto:{{data.contacts.email.value}}" target="_blank">
          <p class="d-flex"><span class="material-icons me-3">{{data.contacts.email.icon}}</span> {{data.contacts.email.value}}</p>
        </a>
      </div>
    </div>
  </section>
  <!-- contact end -->

</ng-container>
