.contacts {
  p {
    cursor: pointer;
    margin: 24px 0;
  }

  a {
    text-decoration: none;
    color: rgb(33, 37, 41);
  }
}

#portfolio {
  @media screen and (max-width: 600px) {
    height: auto;
  }
}
