<ng-container *ngIf="dataService.data$ | async as data">
  <!-- main -->
  <section id="about" class="content-section py-5">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h2>{{data.profile.name}}</h2>
        <h3>{{data.profile.subTitle}}</h3>
        <p class="mt-5">
          {{data.profile.subText}}
        </p>
      </div>
    </div>
  </section>
  <!-- main end -->

  <!-- about -->
  <section  class="content-section py-5">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <p>
          {{data.profile.mainText}}
        </p>
      </div>

      <div class="col-sm-12 col-md-4">
        <img [src]="data.profile.avatarUrl" alt="">
      </div>
    </div>
  </section>
  <!-- about end -->

  <!-- portfolio -->
  <section id="portfolio" class="content-section py-5">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{data.profile.projectsMainPageTitle}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 cursor-pointer"
           *ngFor="let item of data.projects"
           routerLink="/projects/{{item.name}}"
      >
        <ng-container *ngIf="item.isMain">
          <h3>{{item.title}}</h3>
          <img class="w-auto"
               [src]="item.imageUrl" alt="">
        </ng-container>

      </div>
    </div>

  </section>
  <!-- portfolio end -->

  <section id="resume" class="content-section">
    <div id='pdf-div' class='pdf-view'></div>
  </section>

  <!-- contact -->
  <section id="contact" class="content-section py-5 d-flex">
    <div class="row align-self-center">
      <div class="col-sm-12 col-md-4 bg-light py-3">
        <p>{{data.contacts.address.icon}} {{data.contacts.address.value}}</p>
        <p>{{data.contacts.phone.icon}} {{data.contacts.phone.value}}</p>
        <p>{{data.contacts.email.icon}} {{data.contacts.email.value}}</p>
      </div>
    </div>
  </section>
  <!-- contact end -->

</ng-container>
