<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isMenuCollapsed">
      <div class="navbar-nav">
        <a class="nav-link ps-0"
           aria-current="page"
           href="#about"
           [class.active]="fragment === 'about'"
           (click)="isMenuCollapsed = true"
        >About</a>
        <a class="nav-link"
           href="#portfolio"
           [class.active]="fragment === 'portfolio'"
           (click)="isMenuCollapsed = true"
        >portfolio</a>
        <a class="nav-link" href="#resume"
           [class.active]="fragment === 'resume'"
           (click)="isMenuCollapsed = true"
        >resume</a>
        <a class="nav-link" href="#contact"
           [class.active]="fragment === 'contact'"
           (click)="isMenuCollapsed = true"
        >contact</a>
      </div>
    </div>
  </div>
</nav>
