/* You can add global styles to this file, and also import other style files */

html {
  /* height of sticky header */
}

body {
  position: relative;
  background-color: rgb(248, 249, 250);

  @media screen and (min-width: 575px) {
    background: url('./assets/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.content-section {
  height: 100vh;

  @media screen and (max-width: 575px) {
    height: auto;
    margin-top: 48px;
    margin-bottom: 48px;

    &#resume {
      margin-top: 0;
      margin-bottom: 0;
      height: 100vh;
    }
  }

  &:before {
    height: 74px;
    content: "";
    display:block;
    visibility: hidden;
  }
}

.cursor-pointer {
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
