/* You can add global styles to this file, and also import other style files */

html {
  /* height of sticky header */
}

body {
  background: url('./assets/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-section {
//  height: 100vh;

  &:before {
    height: 74px;
    content: "";
    display:block;
    visibility: hidden;
  }
}

.cursor-pointer {
  cursor: pointer;
}
